/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Footer styling */
.footer {
  background-color: #e0e2e5;
  color: #0a0909;
  padding: 20px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;

  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-section {
  flex: 1;
  min-width: 200px;
  margin-right: 20px;
}

.footer-section h4 {
  margin-bottom: 10px;
}

.footer-section p,
.footer-section ul {
  font-size: 14px;
  line-height: 1.6;
}

.footer-section ul {
  list-style-type: none;
}

.footer-section ul li {
  margin: 5px 0;
}

.footer-section ul li a {
  text-decoration: none;
  color: #161515;
}

.footer-section ul li a:hover {
  color: #ff6347;
}

/* Footer bottom */
.footer-bottom {
  text-align: center;
  padding: 10px;
  background-color: #dcddde;
  
  ;
}

.footer-bootoms p {
  font-size: 14px;
}

/* Media Queries for responsiveness */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-right: 0;
    margin-bottom: 20px;
    text-align: center;
  }

  .footer-bottom p {
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .footer-bottom p {
    font-size: 10px;
  }
}
