.testimonial-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full screen height */
    background-color: #f4f4f4;
    margin-top: 131px;
  }
  
  .testimonial-content {
    text-align: center;
    padding: 20px;
    /* max-width: 400px; */
    width: 100%;
  }
  
  .testimonial-image {
   
    height: 50px;
    /* border-radius: 50%; */
    margin-bottom: 20px;
  }
  
  .testimonial-heading {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
  }
  
  .testimonial-paragraph {
    font-size: 16px;
    color: #555;
  }
  